@model Model.TaskMasterModel

<h2>Products</h2>
<script type="text/javascript">

     


</script>



<div>

    <table style="border-color: #807d78;  border-width: 1px; align-content: center;" class="table table-hover table-borde#807d78" >
        <tr align="center" bgcolor="#ccccff">
            <td align="center">
                <b>
                    Product Id

                </b>
            </td>
            <td align="center">
                <b>
                    Product Name

                </b>
            </td>
            <td>
                <b>
                    ProductCategory
                </b>
            </td>
            <td>
                <b>
                    ProductPrice
                </b>
            </td>
            <td>
                <b>Action</b>
            </td>
        </tr>

        @foreach (var item in Model.ProductModelList)
        {
           

            <tr align="center" >
                <td>
                    @item.ProductId
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.ProductCategory
                </td>
                <td>
                    @item.ProductPrice
                </td>
                <td>
                @*<button type="button" id="SelectProductBtn" data-ProductId="@item.ProductId" data-ProductName= "@item.Name" data-Productcategory="@item.ProductCategory"  data-produPrice="@item.ProductPrice" class="btn btn-info"> Select</button>*@
                    <button type="button" id="SelectProductBtn" class="btn btn-info"> Select</button>

                 </td>
            </tr>
        }

    </table>
</div>
